server:
  port: 8080

spring:
  application:
    name: betteryou-backend
  config:
    import: optional:file:.env[.properties]
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:cmail@gmail.com}
    password: ${MAIL_PASSWORD:"password"}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/betteryou}
    driver-class-name: org.postgresql.Driver

  openai:
    api-key: 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
    model: gpt-4o-mini
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mvc:
    cors:
      allowed-origins: "http://localhost:5173,http://localhost:5174"
      allowed-methods: "*"
      allowed-headers: "*"

ai:
  provider: openai
  openai:
    base-url: https://api.openai.com/v1
    model: ${OPENAI_MODEL:gpt-4o-mini}
    timeout-seconds: 90

app:
  jwt:
    secret: ${JWT_SECRET:default_jwt_secret_key_1234567890}
    expiration-ms: 10000000

  frontend:
    reset-url: ${FRONTEND_URL:http://defaulturl}

logging:
  level:
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG
